<div class="container"><br>
    <div class="card-body">
        <h1>Formulario Inventario</h1>
        <form> <!–– action="upload.php" method="POST" formGroup="forminventario"––>

            <div class="row">
                <div class="col-md-3">
                  <label for="validationDefault01" class="form-label">Id</label>
                  <input type="text" class="form-control"   formControlName="id"> 
                </div>
                <div class="col-md-3">
                  <label for="validationDefault02" class="form-label">Numero de serie</label>
                  <input type="text" class="form-control" formControlName="numero_serie" >
                </div>
                
                <div class="col-md-3">
                  <label for="validationDefault03" class="form-label">Marca</label>
                  <input type="text" class="form-control" formControlName="marca" >
                </div>
                <div class="col-md-3">
                  <label for="validationDefault04" class="form-label">Color</label>
                  <input type="text" class="form-control" formControlName="color">
                  
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <label for="validationDefault05" class="form-label">Numero de etiqueta</label>
                  <input type="text" class="form-control" formControlName="numero_etiqueta">
                </div>
                <div class="col-md-3">
                    <label for="validationDefault02" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" formControlName="descripcion">
                  </div>
                  <div class="col-md-3">
                    <label for="validationDefault02" class="form-label">Observaciones</label>
                    <input type="text" class="form-control" formControlName="observaciones">
                  </div>
                  <div class="col-md-3">
                    
                      <label for="validationDefault04" class="form-label">Categorias</label>
                      <select class="form-select" formControlName="tipo">
                      <option selected disabled value="">Categoria</option>
                      <option>Equipo de Computo</option>
                      <option>Mobiliaro</option>
                      <option>Consumibles</option>
                      </select>
                    </div>
              
                  </div>
              
                <div class="col-12"><br><br>
                  <button class="btn btn-primary" type="submit">Anadir</button>
                </div>
              
              
        </form>
    
        

    </div>

</div>