.full-width-field{
  width: 100%;
}
.card-body{
  background-color:#f5e8e8;

}
.container{
 
  margin: start;
}
.boton {
  color: wheat;
background-color: green;}
.centrado{
  
  margin-left: auto;
  margin-right: auto;
}



.contenedor{
  
    display: flex;
    flex-direction: column;
  
  
  
}
.contenedor  {
    width: 100%;
  }
  