<div class="ag-format-container">
    <div class="ag-courses_box">


      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link" routerLink="/dashboard/usuarios">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title"><br><br>
           Usuarios
          </div>
  
          <div class="ag-courses-item_date-box">
            Entrar
            <span class="ag-courses-item_date">
             
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link" routerLink="/dashboard/trabajadores">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title"><br><br>
            Trabajadores
          </div>
          <div class="ag-courses-item_date-box">
            Entrar
            <span class="ag-courses-item_date">
             
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link" routerLink="/dashboard/inventario">
          <div class="ag-courses-item_bg">
          </div>
          <div class="ag-courses-item_title"><br><br>
            Inventario
          </div>
          <div class="ag-courses-item_date-box">
            Entrar
            <span class="ag-courses-item_date">
             
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link" routerLink="/login">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title"><br><br>
            Cerrar Sesion
          </div>
  
          <div class="ag-courses-item_date-box">
            Salir
            <span class="ag-courses-item_date">
              
            </span>
          </div>
        </a>
      </div>
  
    </div>
  </div>