<mat-nav-list>
    <mat-nav-list>
        <div class="logo py-4">
          <img src="./assets/UTXJ.png" alt="Company Logo" />
        </div>
        <mat-divider></mat-divider><br>
        
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/home">
      <mat-icon>home</mat-icon> Inicio
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/usuarios"> 
        <mat-icon>account_circle</mat-icon> Usuarios
    </a> 

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/trabajadores"> 
      <mat-icon>badge</mat-icon> Trabajadores
    </a> 

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/inventario"> 
      <mat-icon>inventory</mat-icon> Inventario
    </a> 

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/login"> 
      <mat-icon>exit_to_app</mat-icon> Salir 
    </a>

  </mat-nav-list>